.react-bootstrap-table {
  overflow-x: auto;

  table {
    font-size: 0.8rem;
    table-layout: auto;
    background-color: white;
  }
  tbody, td, tfoot, th, thead, tr {
    border: 0 solid!important;
    border-color: inherit!important;
    border: 1px solid #d1d1d1!important;
    padding: 0.8rem!important;
}
}